<!DOCTYPE html>
<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.w3.org/1999/xhtml"
>
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin Page</title>
    <link
      rel="stylesheet"
      th:href="@{/vendors/iconfonts/mdi/css/materialdesignicons.min.css}"
    />
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.base.css}" />
    <link rel="stylesheet" th:href="@{/vendors/css/vendor.bundle.addons.css}" />
    <link rel="stylesheet" th:href="@{/css/style.css}" />
    <link rel="shortcut icon" th:href="@{/images/bsi-fav.ico}" />
  </head>

  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav
        class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex flex-row"
      >
        <div
          class="text-center navbar-brand-wrapper d-flex align-items-top justify-content-center"
        >
          <a class="navbar-brand brand-logo" href="index.html">
            <img th:src="@{/images/bsilogo-bscclr-v1.png}" alt="logo" />
          </a>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center">
          <button
            class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3"
            type="button"
            data-toggle="minimize"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item">
              <span
                class="text d-block text-center text-sm-left d-sm-inline-block"
              >
                Hello, Richard V.Welsh !
              </span>
            </li>
          </ul>
          <button
            class="navbar-toggler navbar-toggler-right d-lg-none align-self-center"
            type="button"
            data-toggle="offcanvas"
          >
            <span class="icon-menu"></span>
          </button>
        </div>
      </nav>

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" th:href="@{dashboard}">
                <i class="menu-icon mdi mdi-television"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{dashboard}">
                <i class="menu-icon mdi mdi-settings"></i>
                <span class="menu-title">Application Param Setting</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper" layout:fragment="content">
            Content is Here!
          </div>
          <!-- content-wrapper ends -->

          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="container-fluid clearfix">
              <span
                class="text-muted d-block text-center text-sm-left d-sm-inline-block"
                >Copyright © 2023
                <a href="http://bankbsi.co.id/" target="_blank"
                  >Bank Syariah indonesia</a
                >. All rights reserved.</span
              >
              <span
                class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"
                >IT - BSI
                <i class="mdi mdi-heart text-danger"></i>
              </span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>

      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->

    <!-- plugins:js -->
    <script th:src="@{/vendors/js/vendor.bundle.base.js}"></script>
    <script th:src="@{/vendors/js/vendor.bundle.addons.js}"></script>
    <script th:src="@{/js/off-canvas.js}"></script>
    <script th:src="@{/js/misc.js}"></script>
    <script th:src="@{/js/dashboard.js}"></script>
  </body>
</html>
